html {
    background-color: black;
}

img {
    border: 5px solid white;
    width: 780px;
    height: auto;
}

h1, p, h2, ul, ol li {
    color: white;
    font-family: "Times New Roman", Georgia, sans-serif;
}

p a:visited{
    font-weight: bold;
    color: white;
}

p a:hover{
    font-weight: bold;
    color: rgb(95, 182, 228);
}